.landing-logo {
  width: 100%;
  height: auto;
  max-width: 600px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 5vw;
}

.pt-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-bold {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.login-btn {
  width: 100%;
  max-width: 200px;
  background-color: rgb(119, 119, 119) !important;
  border: 2px solid black !important;
}

.login-btn:hover {
  background-color: #0d6efd !important;
}
